package ${modelPackage};


import com.wordnik.swagger.annotations.ApiModelProperty;
import com.wordnik.swagger.annotations.ApiParam;
import java.io.Serializable;
#if (${hasDate})
import java.util.Date;
#end

#if (${hasBigdecimal})
import java.math.BigDecimal;
#end

/**
 * <p>
 * 
 *${remark}
 *
 * </p>
 * 
 * @author ${author}
 * @date ${dateTime}
 * @version
 */
public class ${beanName} implements Serializable {
    private static final long serialVersionUID = 7119938404805555647L;

	#foreach ($item in $columns) 
	
	#if (${item.remark} && ${item.remark}!='' )
/**
     * $!{item.remark}
     */
    #end
@ApiParam(value = "$!{item.property}", required = true)
    @ApiModelProperty(value = "$!{item.remark}", required = true)
	private $!{item.type} $!{item.lowerProperty};
	#end
	
	
	#foreach ($item in $columns)
	
	public $!{item.type} get$!{item.property}() {
        return $!{item.lowerProperty};
    }

	public void set$!{item.property}($!{item.type} $!{item.lowerProperty}) {
    	 this.$!{item.lowerProperty} = $!{item.lowerProperty};
	}
	#end
}