package ${packageName}.feign;

import org.springframework.cloud.netflix.feign.FeignClient;
import org.springframework.http.ResponseEntity;
import javax.ws.rs.*;
import java.util.*;

/**
* <p>
    *
    *${remark}
    *
    * </p>
*
* @author ${author}
* @date ${dateTime}
* @version
*/
${feignClient}
public interface ${className}FeignClient{

    #foreach ($jerseyMethodModel in $jerseyMethodModelList)

$!{jerseyMethodModel.requestType}
$!{jerseyMethodModel.path}
#if (${jerseyMethodModel.consumes} && ${jerseyMethodModel.consumes}!='' )
$!{jerseyMethodModel.consumes}
#end
    ResponseEntity $!{jerseyMethodModel.jerseyMethodInfo.methodName}($!{jerseyMethodModel.jerseyMethodInfo.methodParams});
    #end

}