package ${mapperPackage};


import ${modelPackage}.${beanName}DO;
import ${mapperPackage}.${beanName}Mapper;

/**
 * <p>
 *
 * </p>
 * 
 * @author ${author}
 * @date ${dateTime}
 * @version
 */
public class ${beanName}Manager extends BaseService<${beanName}Mapper,${beanName}DO> {

}